<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.shoes.model.dao.CartMapper">
	<resultMap id="cartListResultSet" type="CartItemList">
		<result column="ITEM_NO" property="itemNo" />
		<result column="ITEM_CODE" property="itemCode" />
		<result column="NAME" property="name" />
		<result column="PRICE" property="price" />
		<result column="SIZE" property="size" />
		<result column="COUNT" property="count" />
		<result column="IMG_LOCATION" property="imgLocation" />
	</resultMap>
	<insert id="cartItemInsert">
		INSERT INTO CART 
		VALUES(#{userNo},#{itemNo}, #{itemSize}, #{itemCount})
	</insert>
	
	<select id="cartList" resultMap="cartListResultSet">
		SELECT ITEM_NO, ITEM_CODE, NAME, PRICE, SIZE, COUNT, IMG_LOCATION 
		FROM CART C
		JOIN ITEM I USING(ITEM_NO)
		WHERE MEMBER_NO = #{userNo};
	</select>
	
	<delete id="cartItemDelete">
		DELETE FROM CART
		WHERE MEMBER_NO = #{userNo}
		  AND ITEM_NO = #{itemNo} 
		  AND SIZE = #{itemSize}
	</delete>
</mapper>