<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.shoes.model.dao.ItemMapper">
	<resultMap id="itemResultSet" type="item">
		<id column="ITEM_NO" property="itemNo"/>
		<result column="ITEM_CODE" property="itemCode"/>		
		<result column="NAME" property="name"/>		
		<result column="PRICE" property="price"/>
		<result column="IMG_LOCATION" property="imgLocation"/>
		<result column="BRAND" property="brand"/>
	</resultMap>
	
	<resultMap id="itemSizeResultSet" type="itemSize">
		<result column="SIZE" property="size"/>
		<result column="STOCK" property="stock"/>
	</resultMap>
	
	<select id="itemList" resultMap="itemResultSet">
		SELECT ITEM_NO, ITEM_CODE, i.NAME NAME, PRICE, IMG_LOCATION
		<if test="brand != null and brand != 'All'"> 
			,b.NAME BRAND
		</if>
		FROM ITEM i
		<if test="brand != null and brand != 'All'">
			JOIN BRAND b USING(BRAND_NO)
			WHERE b.name = #{brand}
		</if>
	</select>
	
	<select id="itemDetail" resultMap="itemResultSet">
		SELECT ITEM_NO, B.NAME AS BRAND,ITEM_CODE, I.NAME AS NAME, PRICE, IMG_LOCATION
		FROM ITEM I
		JOIN BRAND B USING(BRAND_NO)
		WHERE I.ITEM_NO = #{itemNo}
	</select>
	
	<select id="itemSize" resultMap="itemSizeResultSet">
		SELECT SIZE, STOCK
		FROM STOCK
		WHERE ITEM_NO = #{itemNo}
	</select>
	
</mapper>